<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQY_xCbj6EdCUiKT2VJS1T4cConDkSTF0</string>
	<key>GCM_SENDER_ID</key>
	<string>95296817485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotify</string>
	<key>PROJECT_ID</key>
	<string>spotifyappclone0101</string>
	<key>STORAGE_BUCKET</key>
	<string>spotifyappclone0101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95296817485:ios:99f5cf578b5a28d9f78f04</string>
</dict>
</plist>